@import "layout/extends"
@import "layout/mixins"
@import "layout/home"
@import "layout/services"
@import "layout/solutions"

body
  &.overflow
    overflow: hidden

.container
  @extend %container
  &.no-padding
    padding: 0

.container.flex
  @include display(flex)
  @include flex-direction(column-reverse)
  @include flex-wrap(wrap)
  @include media(min-width $tablet)
    display: block

.container-small
  @extend %container-small

.container-full
  @extend %container-full

.half-width
  @extend %half-width

.callout-list
  @extend %callout-list

.row
  @include clearfix
  &.black
    background-color: black
    color: white

.grid
  &.black
    background-color: black
  &.gray
    background-color: $gray
  &.dark
    background-color: $light-gray
  &.twelve
    @include span-columns(12)
  &.eleven
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(11)
  &.ten
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(10)
  &.nine
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(9)
  &.eight
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(8)
  &.seven
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(7)
  &.six
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(6)
  &.five
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(5)
  &.four
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(4)
  &.three
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(3)
  &.two
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(2)
  &.one
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(1)

.half-graphic
  @extend %half-width
  &.overlap
    @include span-columns(12)
    @include media(min-width $tablet)
      @include span-columns(7)

.customers-filter
  display: none
  @include media(min-width $tablet)
    display: block
