.four-grid-callout
  @include clearfix()
  .left
    background-color: $white
    height: 100%
    @include clearfix()
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(5)
      height: 100%
    .row
      @include clearfix()
      &:last-child
        .box
          border-bottom: 1px solid transparent
      .box
        @include span-columns(6)
        position: relative
        text-align: center
        padding: 50px 30px
        height: 130px
        cursor: pointer
        border-right: 1px solid $gray
        border-bottom: 1px solid $gray
        .vertical-align
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
        svg
          display: none
          .static
            display: block
          .white
            display: none
        &:hover
          background-color: $dark-gray
          color: $white
          border: 1px solid $dark-gray
          svg
            .hover
              display: none
            .static
              display: none
            .white
              display: block
        // &:active
        //   h3
        //     color: $white
        //   .white
        //     display: block
        &.active
          background-color: $dark-gray
          color: $white
          border: 1px solid $dark-gray
          svg
            .hover
              display: block
            .static
              display: none

        @include media(min-width $mobile)
          height: 250px
          svg
            display: inline

  .right
    background-color: $cool-white
    padding: 50px
    height: 100%
    position: relative
    @include span-columns(12)
    @include media(min-width $mobile)
      @include span-columns(7)
      height: 500px
    .content
      max-width: 700px
      position: relative
      @include media(min-width $mobile)
        position: absolute
        left: 8.33%
        right: 8.33%
    ul
      padding-left: 20px
      h3
        margin-left: -19px
  svg
    height: 100px
    width: 85px
    .hover
      display: none
