.customer-cards
	padding-top: 18px
	background: #DFE0E0
	&.on-black
		background: #000

.customer-card
	@include span-columns(6)
	position: relative
	padding: 0 18px 18px 0
	&.second, &.fourth
		padding-right: 0
	.more-btn
		@extend %allcaps
		float: right
		line-height: 80px
		padding: 0 25px
		display: none
		color: #656667
	footer
		background: #CBD7DB
		height: 80px
		padding: 0 0 0 25px
	.more-btn
		color: white
		font-family: $bold-font
		&:hover
			background: $blue
	.play-screen
		display: block
		@extend %absolute-cover
		background-size: cover
	.play-btn
		@include absolute-center(75px, 75px)
		width: 75px
		height: 75px
		fill: #373637
	.dropup
		display: none
	.dropup-menu
		@extend %no-style-list
		text-align: center
		a
			color: $black
	.customer-video-poster
		@extend %absolute-cover
		width: 100%
		height: 100%
		display: block
		z-index: 2

	// STATES
	&.has-desc
		.more-btn
			display: inline-block

	&.is-featured
		@extend %third-width
		padding: 0 0 18px 0
		@include media(min-width $tablet)
			padding: 0 18px 18px 0
			&.third
				padding-right: 0
		.customer-card-img
			position: relative
			min-height: 258px
			@include ad-gradient(#0B0B0B, #1F2020, 34deg, 50%)
			.customer-logo, svg, a
				z-index: 2
			.customer-logo
				@include absolute-center(420px, 120px)
				opacity: .75

			&:after
				background-image: radial-gradient( circle at 0% 0%, #1F2020 0%, transparent 100% )
				content: ""
				@extend %absolute-cover
				z-index: 1
		footer
			background: $dark-gray
			color: white
		.customer-card-meta
			p
				color: #ADAEAF
		.more-btn
			color: #656667
		&:hover, &.active
			footer
				background: #5C5D5E
			.more-btn
				background: #79797A
				color: $white
				&:hover
					color: $light-blue
			.play-btn
				fill: $blue
			.customer-logo
				opacity: 1
		&.active
			.more-btn
				background: $blue
				&:hover
					color: $white
	&.has-video
		.customer-card-img
			background: #010101
			position: relative
			&:after
				display: none
			.customer-logo
				position: absolute
				top: 25px
				left: 25px
				margin: 0
				width: 165px
				height: 43px
		.play-screen
			background-position: top right
			background-repeat: no-repeat
			background-size: auto


	// MEDIAQ
	@include media(min-width $tablet)
		@include span-columns(3)
		&.second
			padding-right: 18px
		&.fourth
			padding-right: 0
		.more-btn
			display: inline-block

.customer-megapane-content
	display: none

.customer-card-img
	background: #F5F6F6
	min-height: 118px

.customer-card-meta
	width: 56%
	float: left
	h6
		margin-bottom: 0
		margin-top: 6px
	p
		color: $dark-gray

.customer-logo
	width: 420px
	height: 120px

.megapane
	@include clearfix
	display: none
	width: 100%
	margin-bottom: 18px
	position: relative
	clear: both
	background: $off-white
	.arrow
		position: absolute
		top: -15px
		@include triangle(30px, $off-white, up)
	.close-btn
		display: none
		position: absolute
		right: 25px
		top: 25px
		svg
			width: 40px
			height: 40px
			fill: $dark-gray
			&:hover
				fill: tint($dark-gray, 25%)
	a
		color: $black
		font-family: $regular-font
		&:hover
			color: $blue
	h4
		color: $blue
		@extend %allcaps
	.column
		padding: 20px
		&.first
			display: none
		.add-resources
			display: none
	.customer-logo
		display: none
					
	@include media(min-width $tablet)
		padding: 60px 0 20px
		.close-btn
			display: block
		.customer-logo
			display: block
			margin-bottom: 18px
		.column 
			@include span-columns(5)
			@include shift(1)
			float: left
			min-height: 20px
			&.first
				display: block
			&.last
				@include span-columns(4)
				@include shift(1)
				margin-right: 0
			.customer-logo
				display: block
			.add-resources
				display: block
				margin-top: 30px
				a
					display: block
			
    	
		