@import "mixins"
@import "extends"

.hero   
  min-height: calc(100vh - 200px)
  height: 100%
  position: relative
  @extend %bg-cover
  &.constrained
    height: 480px
    min-height: 0
<<<<<<< Updated upstream
  &.w-padding
    padding-top: 70px
=======
    .hero-copy
      margin-top: 90px !important
>>>>>>> Stashed changes

  .container
    padding: 43px 0 0
    @include media(min-width $mobile)
      padding: inherit
    span
      padding-right: 20px
      &:last-child
        padding-right: 0
  .videoContainer
    position: absolute
    overflow: hidden
    z-index: -1
    width: 100%
    min-height: 780px
    height: 100%
    @include media(min-width $mobile)
      height: inherit
      height: 100vh
    video
      display: none
      @include media(min-width $mobile)
        opacity: 0
        display: block
        position: absolute
        right: 50%
        bottom: 50%
        left: auto
        @include transform(translateX(50%) translateY(50%))
        z-index: -1
        min-width: 100%
        min-height: 100%
        width: auto
        height: auto
        overflow: hidden
  .js-poster
    z-index: -1
    min-width: 100%
    min-height: 100%
    .csstransforms &
      position: absolute
      bottom: 50%
      right: 50%
      @include transform(translateX(50%) translateY(50%))

.hero-copy
  @include span-columns(12)
  padding: 0
  color: $white
  padding: 80px 30px
  position: relative
  @include media(min-width $mobile)
    @include span-columns(9)
    padding: 80px 15px
  @include media(min-width $tablet)
    @include span-columns(7)
  p
    margin: 0 0 1.88em 0
  .button-selector
    float: left
    padding-right: 20px
  a.light
    text-align: center
    &:not(:last-child)
      margin-right: 15px
      margin-bottom: 20px
  .button.light
    margin-top: 0
