@import "mixins"

.tri-column
  @include background-theme("dark", true)
  @include clearfix()
  .container
    padding-top: 0
    padding-bottom: 0
    @include media(min-width $tablet)
      padding-top: 78px
      padding-bottom: 78px
  .column
    @include span-columns(12)
    padding-top: 0  
    padding-bottom: 0
    padding-bottom: 38px
    @include media(min-width $tablet)
      @include span-columns(4)
      padding-top: 0
      padding-bottom: 0
    .content
      width: 55%
      margin: 0 auto
      h2
        a
          color: inherit
          text-style: inherit
          &:hover
            color: $blue
      .icon
        img
          display: none
          max-width: 120px
          height: auto
          width: 100%
          position: relative
          margin-bottom: 40px
          @include media(min-width $tablet)
            display: block

  &.bordered
    .column
      border-bottom: 1px solid #303334
      &:last-child
        border-bottom: 1px solid transparent
      p
        display: none
    @include media(min-width $tablet)
      .column
        border-bottom: 1px solid transparent
        &:after
          display: block
          position: absolute
          height: 80%
          content: ""
          border-right: 1px solid #303334
          top: 10%
        &:first-child
          &:after
            border-right: 1px solid transparent
      p
        display: block !important
  &.cards
    background-image: none
    background-color: $white
    .card
      background-size: cover
      height: 425px
      margin: 10px
      position: relative
      overflow: hidden
      .copy
        position: absolute
        height: 100%
        width: 100%
        margin-top: 335px
        background-color: #3F4041
        @include transition(all 0.35s ease-in-out)
        cursor: pointer
        padding: 15px
        p, a
          opacity: 0
          @include transition(all 0.25s ease-in-out)
        &:hover
          margin-top: 0
          p, a
            opacity: 1

